<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student" class="com.invictus.springpractice.Student">
        <!-- Constructor Injection -> Using Types -->
        <constructor-arg type="java.lang.String" value="Arjun"/>
        <constructor-arg type="java.lang.String" value="DS"/>
        
        <constructor-arg type="com.invictus.springpractice.Laptop" ref="laptop"/>
    </bean>

    <bean id="laptop" class="com.invictus.springpractice.Laptop">
        <!-- Constructor Injection -> Using Types  -->
        <constructor-arg type="java.lang.String" value="Asus"/>        
    </bean>


</beans>