<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student" class="com.invictus.springpractice.Student">
        <!-- Constructor Injection -> Using Index -->
        <constructor-arg index='0' value="Alex"/>
        <constructor-arg index='1' value="MS"/>
        
        <constructor-arg index='2' ref="laptop"/>
    </bean>

    <bean id="laptop" class="com.invictus.springpractice.Laptop">
        <!-- Constructor Injection -> Using Names  -->
        <constructor-arg index='0' value="Asus"/>        
    </bean>


</beans>